.section {
  padding: var(--mantine-spacing-sm);
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .section {
    flex-direction: column;
  }
} 